<% provide(:title, "Connect") %>
<h1>Connect</h1>
<p>
  Connect with us at the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">connect page</a>.
</p>