<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>Hand-n-Hand</title>
	<meta name="description" content="Union — donation campaign html5 website template">
	<link rel="stylesheet" href="bootstrap-3.3.7" />
	<link rel="stylesheet" href="events.css" />
	<link rel="stylesheet" href="ionicons.min.css" />
	<link rel="stylesheet" href="zabuto_calendar.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="sticky-header navbar navbar-default">
			<div class="container">
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			    	</button>
			    	<a class="navbar-brand" href="index.html">Hand-n-Hand</a>
			    </div>
			    <div class="collapse navbar-collapse" id="navbar-collapse">
			    	
					<ul class="nav navbar-nav nav-center">
						<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
						</li>
						<li><a href="#">About</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Causes</a>
						</li>
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
							<ul class="dropdown-menu">
								<li><a href="events-grid-sidebar.html">Events Grid Sidebar</a></li>
								<li><a href="events-grid.html">Events Grid</a></li>
								<li><a href="events-list.html">Events List</a></li>
								<li><a href="event-single.htmld">Event Single</a></li>
							</ul>
						</li>
					</ul>				
		    	</div>
			</div>
		</nav>
	</header>
	<section class="page-cover-sec">
		<div class="cover-sec-overlay"></div>
		<div class="container" style="background-image: url('https://www.daphorst.nl/uploads/images/1600x400-trim(0,97.6,800,200)-a185026c8c23e879c8c75e3ff8a38702.jpg');">
			<h1 class="cover-sec-text">Animal Volunteering</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9 page-main-content">
					<h2 class="page-title">Upcoming events</h2>
					<p class="page-subtitle">Lend A Helping Paw</p>
					<div class="row page-controls-top pad-bot-15">
					
						<div class="col-lg-6 page-controls-right">
							<span class="page-controls-lable">Sort by:</span>
							<form>
								<select>
									<option>Created date</option>
									<option>option 2</option>
								</select>
							</form>
						</div>
					</div>
					<div class="row page-content-inner">
						<div class="col-xs-12" data-filter="free">
							<div class="event-simple-item">
								<div class="date-calendar">
									<div class="date-calendar-num">10</div>
									<div class="date-calendar-month">Jun</div>
								</div>
								<h3><a href="" class="event-simple-title">24th annual gala: Healthy child , healthy world</a></h3>
								<div class="event-simple-text">
									Proin risus purus, iaculis a orci ut, cursus bibendum purus. Duis aliquam gravida eros eget molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra, arcu eu porta aliquet, eros dui tincidunt purus, eu vehicula magna nisl in purus.
								</div>
								<div class="event-simple-bottom">
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Location</div>
										Wellington park, Collingwood
									</div>
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Time</div>
										14:00 PM - 15:30 pm
									</div>
									<a href="" class="event-simple-bottom-btn btn btn-rounded">Register</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12" data-filter="paid">
							<div class="event-simple-item">
								<div class="date-calendar">
									<div class="date-calendar-num">14</div>
									<div class="date-calendar-month">Jun</div>
								</div>
								<h3><a href="" class="event-simple-title">Workshop: Become a volunteer advocate for children</a></h3>
								<div class="event-simple-text">
									Proin risus purus, iaculis a orci ut, cursus bibendum purus. Duis aliquam gravida eros eget molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra, arcu eu porta aliquet, eros dui tincidunt purus, eu vehicula magna nisl in purus.
								</div>
								<div class="event-simple-bottom">
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Location</div>
										Wellington park, Collingwood
									</div>
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Time</div>
										14:00 PM - 15:30 pm
									</div>
									<a href="" class="event-simple-bottom-btn btn btn-rounded">Register</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12" data-filter="free">
							<div class="event-simple-item">
								<div class="date-calendar">
									<div class="date-calendar-num">22</div>
									<div class="date-calendar-month">Jun</div>
								</div>
								<h3><a href="" class="event-simple-title">Buy shoes save lives at Road Runner sports in Costa Mesa</a></h3>
								<div class="event-simple-text">
									Proin risus purus, iaculis a orci ut, cursus bibendum purus. Duis aliquam gravida eros eget molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra, arcu eu porta aliquet, eros dui tincidunt purus, eu vehicula magna nisl in purus.
								</div>
								<div class="event-simple-bottom">
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Location</div>
										Wellington park, Collingwood
									</div>
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Time</div>
										14:00 PM - 15:30 pm
									</div>
									<a href="" class="event-simple-bottom-btn btn btn-rounded">Register</a>
								</div>
							</div>
						</div>						
						<div class="col-xs-12" data-filter="free">
							<div class="event-simple-item">
								<div class="date-calendar">
									<div class="date-calendar-num">29</div>
									<div class="date-calendar-month">Jun</div>
								</div>
								<h3><a href="" class="event-simple-title">Super heroes half marathon weekend in Melbourne 2016</a></h3>
								<div class="event-simple-text">
									Proin risus purus, iaculis a orci ut, cursus bibendum purus. Duis aliquam gravida eros eget molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra, arcu eu porta aliquet, eros dui tincidunt purus, eu vehicula magna nisl in purus.
								</div>
								<div class="event-simple-bottom">
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Location</div>
										Wellington park, Collingwood
									</div>
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Time</div>
										14:00 PM - 15:30 pm
									</div>
									<a href="" class="event-simple-bottom-btn btn btn-rounded">Register</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12" data-filter="free">
							<div class="event-simple-item">
								<div class="date-calendar">
									<div class="date-calendar-num">5</div>
									<div class="date-calendar-month">Jul</div>
								</div>
								<h3><a href="" class="event-simple-title">Cheers to charity 2016: Tehachapi wine, craft beer & food festival</a></h3>
								<div class="event-simple-text">
									Proin risus purus, iaculis a orci ut, cursus bibendum purus. Duis aliquam gravida eros eget molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra, arcu eu porta aliquet, eros dui tincidunt purus, eu vehicula magna nisl in purus.
								</div>
								<div class="event-simple-bottom">
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Location</div>
										Wellington park, Collingwood
									</div>
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Time</div>
										14:00 PM - 15:30 pm
									</div>
									<a href="" class="event-simple-bottom-btn btn btn-rounded">Register</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12" data-filter="paid">
							<div class="event-simple-item">
								<div class="date-calendar">
									<div class="date-calendar-num">24</div>
									<div class="date-calendar-month">Jul</div>
								</div>
								<h3><a href="" class="event-simple-title">Newport Bay conservancy volunteer training</a></h3>
								<div class="event-simple-text">
									Proin risus purus, iaculis a orci ut, cursus bibendum purus. Duis aliquam gravida eros eget molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra, arcu eu porta aliquet, eros dui tincidunt purus, eu vehicula magna nisl in purus.
								</div>
								<div class="event-simple-bottom">
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Location</div>
										Wellington park, Collingwood
									</div>
									<div class="event-simple-bottom-info">
										<div class="event-simple-info-lable">Time</div>
										14:00 PM - 15:30 pm
									</div>
									<a href="" class="event-simple-bottom-btn btn btn-rounded">Register</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row page-controls-bottom padding-top-0">
						<div class="col-lg-6 page-controls-left">
							<form>
								<select>
									<option>Show 12 items</option>
									<option>Show 6 items</option>
								</select>
							</form>
							<span class="page-controls-lable">Showing 1-12 of 53 causes</span>
						</div>
						<div class="col-lg-6 page-controls-right">
							<span class="page-controls-lable">Pages:</span>
							<ul class="pagination">
								<li class="disabled">
									<a href="#" aria-label="Previous">
										Prev
									</a>
								</li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li>
									<a href="#" aria-label="Next">
										Next
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-3 page-sidebar">
					<form>
						<input type="text" placeholder="Enter keyword">
						<button type="submit" class="ion-ios-search-strong"></button>
					</form>
					<div class="sidebar-calendar">
						<h3 class="sidebar-title">Event calendar</h3>
						<div id="calendar"></div>
					</div>
					<div class="sidebar-attendees">
						<h3 class="sidebar-title">What attendees say</h3>
						<div class="sidebar-attendees-cloud">
							“Etiam tincidunt arcu in luctus tempor. Morbi scelerisque nec venenatis diam, sit amet tincidunt lectus tristique mauris”
						</div>
						<img src="http://placehold.it/70x70" alt="" class="sidebar-attendees-img">
						<div class="attendees-name">Tyler Palmer</div>
						<div class="attendees-location">Melbourne</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer-bottom">
			<div class="container">
			<ul class="footer-social">
				<li><a href="" class="ion-social-facebook"></a></li>
				<li><a href="" class="ion-social-twitter"></a></li>
				<li><a href="" class="ion-social-googleplus"></a></li>
				<li><a href="" class="ion-social-instagram"></a></li>
			</ul>
			<div class="footer-copyright">© Hand-n-Hand Volunteering. All rights reserved.</div>
			<div class="footer-caption">Created by Spencer Torrico & Joeseph Hawileh</a></div>
			</div>
		</div>
	</footer>
	<script src="libs/jquery/jquery-2.2.4.min.js"></script>
	<script src="libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script src="libs/smoothscroll/SmoothScroll.js"></script>
	<script type="text/javascript" src="libs/retina/retina.min.js"></script>
	<script type="text/javascript" src="libs/zabuto-calendar/zabuto_calendar.min.js"></script>
	<script src="libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="libs/jquery-validate//jquery.form.js"></script>
	<script src="main.js"></script>
</body>
</html>