<% provide(:title, "Forgot passwor") %>
<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:organization_reset, url: organization_resets_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit "Submit", class:  "event-simple-bottom-btn btn btn-round" %>
    <% end %>
  </div>
</div>